applicationName: CWDS Dora
version: ${APP_VERSION:-local}

shiro:
  iniConfigs: ["file:${SHIRO_CONFIG_PATH:-config/shiro.ini}"]
  
swagger:
  templateName: swagger.mustache
  assetsPath: /static
  resourcePackage: gov.ca.cwds.rest.resources
  title: CWDS Dora
  description: RESTful search services for the CWS New System.
  logo: images/CWDS-API-Logo-Horizontal.png
  loginUrl: ${LOGIN_URL:-http://localhost:8090/authn/login}
  spId: ${SP_ID} # service provider ID for Identity Mapping (defines security attributes for specific application)
  showSwagger: ${SHOW_SWAGGER:-false}

elasticsearch:
  host: ${ES_HOST:-es.dev.cwds.tabordasolutions.net}
  port: ${ES_PORT:-9200}
  xpack:
    enabled: ${XPACK_ENABLED:-true}
    user: elastic
    password: changeme

server:
  applicationConnectors:
  - type: http 
    port: ${APP_STD_PORT:-8080}
  adminConnectors:
  - type: http
    port: ${APP_ADMIN_PORT:-8081}
    
  requestLog:
    appenders:
      - type: console

logging:
  level: ${LOGLEVEL:-WARN}
  loggers:
    "AUDIT":
      level: ALL
    "gov.ca.cwds":
      level: DEBUG
  appenders:
    - type: console
      threshold: WARN
      timeZone: UTC
      target: stdout
      logFormat: '%X{remoteAddress} [%date{ISO8601}] %level "%thread" "%X{uniqueId}" %logger: "%message%n"'
